extends layout

block content
    h1= title
    p Welcome to #{title}

    a(href='/') go back


    h1 List of top 5 words & probabilities returned:
    div
        ul
            li  #{JSON.stringify(result.outputs[0].data.concepts[0].name)} :
                #{JSON.stringify(result.outputs[0].data.concepts[0].value)}

            li  #{JSON.stringify(result.outputs[0].data.concepts[1].name)} :
                #{JSON.stringify(result.outputs[0].data.concepts[1].value)}

            li  #{JSON.stringify(result.outputs[0].data.concepts[2].name)} :
                #{JSON.stringify(result.outputs[0].data.concepts[2].value)}

            li  #{JSON.stringify(result.outputs[0].data.concepts[3].name)} :
                #{JSON.stringify(result.outputs[0].data.concepts[3].value)}

            li  #{JSON.stringify(result.outputs[0].data.concepts[4].name)} :
                #{JSON.stringify(result.outputs[0].data.concepts[4].value)}



