extends layout

block content
  p Welcome to Razor


  p #{(result.response.sentences[0].words[3].token)}
    #{(result.response.sentences[0].words[6].token)}

  p #{(result.response.sentences[0].words[2].token)}
    #{(result.response.sentences[0].words[8].token)}

  p #{(result.response.sentences[0].words[12].token)}
    #{(result.response.sentences[0].words[17].token)}
